 /*
html {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Odin_riding_Sleipnir.jpg/464px-Odin_riding_Sleipnir.jpg?20061220184018);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: bottom;
   background-size: 590px;
}


.index footer .center {
    background: rgba(255, 255, 255, .7);
    font-size: .8em;
    position: fixed;
    bottom: 5px;
    width: 500px;
}

.index footer .bottom-right{
    font-size: .8em;
    position: fixed;
    bottom: 5px;
    right: 5px;
}


.index footer a {
    text-decoration: none;
}


.index .all-recipes li {
    list-style: none;
    margin-left: 40px;
     
}

.index .all-recipes a {
text-decoration: none;
color:rgb(17, 89, 110);
border-bottom: 2px dotted rgb(17, 89, 110);
   
}

.index a:hover {
    color: rgb(110, 27, 27);
}




   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Odin_riding_Sleipnir.jpg/464px-Odin_riding_Sleipnir.jpg?20061220184018), 
   url("../images/fog-one.jpg"), 
   url("../images/cloud-two.png"); 
   background-repeat: no-repeat, no-repeat, no-repeat ;
   background-attachment: fixed, fixed, fixed;
   background-position: bottom, bottom, top;
   background-size: 590px, 100vw, 590px;