html {
    background-color: hsl(0 0% 0%);
    box-sizing: border-box;
    background-image: url("../images/cloud-two.png"),
    url("../images/fog-one.jpg"); 
    background-repeat:  no-repeat, no-repeat ;
    background-attachment:  fixed, fixed;
    background-position: 50% -370px, bottom ;
    background-size: 800px, 100vw, ; 
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    margin: 0 auto;
    padding: 20px;

    
}

nav {
    background-color: hsl(230, 6%, 72%);
    margin: -37px auto 0;
    width: 535px;
    margin-left: 35px;
   
}

nav li {
    list-style: none;
    font-family: 'Rubik Dirt', cursive;
    font-size: 1.3em;
    margin-bottom: -20px;
    margin-left: -20px;
    padding: 0;
}
 a:link {
    color: black;
 }

a:visited {
    color: black;
}

a:hover {
    color: white;
}

a.odin-link{
    text-decoration: none;
}


.odin {
    font-family: 'Rubik Dirt', cursive;
    font-size: 4.0em;
    margin-top: 20px;
    margin-bottom: 15px;
}

h1{
    font-family: 'Rubik Dirt', cursive;
    text-align: center;
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: -10px;
    margin-top: 50px;
}

figure img {
    width: 460px;
    border: 5px solid hsl(230, 6%, 72%)
}

figcaption {
    font-size: .7em;
    margin-left: 0px;
    background-color:hsl(230, 6%, 72%);
    margin-top: -5px;
}

.all-recipes {
    font-size: 1.2em;
}


em {
    font-style:normal
}

h3 {
    margin-left: 20px;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: 40px;
}

li {
    margin: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

p { 
    margin-left:40px;
    margin-right: 20px;
}

.index  footer .center {
    background: rgba(255, 255, 255, .7);
    font-size: .8em;
    position: fixed;
    bottom: 5px;
    width: 500px;
}

.index footer .bottom-right{
    font-size: .8em;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.index footer .top-right{
    font-size: .8em;
    position: fixed;
    top: 5px;
    right: 5px;
}


.index footer a {
    text-decoration: none;
}


.index .all-recipes li {
    list-style: none;
    margin-left: 40px;
    font-family: 'Rubik Dirt', cursive;
    font-size: 30px;
    text-indent: -15px;
    padding: 5px 0 
     
}

.index .all-recipes a {
text-decoration: none;
color:rgb(64, 64, 65);
border-bottom: 2px dotted rgb(64, 64, 65);
   
}

.index a:hover {
    color: rgb(110, 27, 27);
}

.index footer .top-right a:link {
    color: rgb(202, 198, 198);
 }

 .index footer .top-right  a:visited {
    color: rgb(202, 198, 198);
}

.index footer .top-right a:hover {
    color: rgb(107, 104, 104);
}
